.clear {
  clear: both;
}
.mui-bar {
  background: #279cfe;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  height: 2.34666667rem;
}
.mui-bar .mui-title {
  color: #fff;
}
.mui-bar-nav ~ .mui-content {
  padding-top: 2.34666667rem;
}
.deposit_money {
  width: 100%;
  height: 5.33333333rem;
  line-height: 5.33333333rem;
  text-align: center;
  font-family: ArialMT;
  font-size: 1.92rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #fd2929;
  background: white;
}
.deposit_pic {
  width: 100%;
  background: white;
}
.deposit_pic img {
  width: 9.12rem;
  height: 5.86666667rem;
  margin: 0 auto;
}
.deposit_one {
  width: 100%;
  height: 1.33333333rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.33333333rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  background: white;
  text-align: center;
}
.deposittwo {
  width: 100%;
  margin: 0 auto;
  height: auto;
  font-family: PingFang-SC-Regular;
  font-size: 0.69333333rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0px;
  color: #b3b3b3;
  background: white;
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.53333333rem;
}
.exitmoney {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 20rem;
  height: 2.34666667rem;
  background-color: #299ffb;
  border-radius: 0.16rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.34666667rem;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
}
.Returndeposit {
  width: 20rem;
  height: 13.33333333rem;
  background-color: #ffffff;
}
.Returndeposit .deposit_pic {
  width: 100%;
  height: 1.46666667rem;
  line-height: 1.46666667rem;
  text-align: center;
  padding-top: 1.33333333rem;
}
.Returndeposit .deposit_pic img {
  display: inline-block;
  vertical-align: middle;
  width: 1.30666667rem;
  height: 1.38666667rem;
}
.Returndeposit .deposit_money {
  width: 100%;
  height: 5.33333333rem;
  line-height: 5.33333333rem;
  text-align: center;
  font-family: ArialMT;
  font-size: 1.92rem;
  font-weight: normal;
  font-stretch: normal;
  padding-top: 1.33333333rem;
  letter-spacing: 0px;
  color: #fd2929;
  background: white;
}
.Returndeposit .deposit_one {
  background: white;
  display: table;
  margin-top: 1.33333333rem;
}
.Returndeposit .deposit_one div {
  vertical-align: middle;
  width: 9.65333333rem;
  height: 1.6rem;
  margin-left: 5.17333333rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #b3b3b3;
  word-break: break-all;
}
.tuiyajinbtn {
  width: 9.06666667rem;
  height: 2.34666667rem;
  background-color: #299ffb;
  border-radius: 0.16rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.34666667rem;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  margin-top: 4.8rem;
}
