header a {
  color: white;
}
.main {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.mui-bar {
  width: 20rem;
  height: 2.34666667rem;
  background-color: #279cfe;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.mui-title {
  color: #ffffff;
  font-size: 0.96rem;
}
.mui-bar span {
  position: absolute;
  right: 0.29333333rem;
  top: 50%;
  margin-top: -0.4rem;
  width: 3.46666667rem;
  height: 0.8rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0px;
  color: #ffffff;
}
.income {
  width: 20rem;
  height: 5.33333333rem;
  background-color: #299ffb;
  position: relative;
}
.income_world {
  width: 100%;
  height: 0.8rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.64rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: left;
  padding-left: 0.64rem;
  padding-top: 0.66666667rem;
}
.income .money {
  width: 8rem;
  height: 1.6rem;
  font-family: ArialMT;
  font-size: 1.92rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.6rem;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 1.6rem;
  padding-left: 0.64rem;
}
.Virtual_currency {
  position: absolute;
  right: 0.64rem;
  top: 0.53333333rem;
  color: white;
  font-size: 0.69333333rem;
  width: auto;
}
.refill {
  width: 10.66666667rem;
  height: 0.8rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.58666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0px;
  color: #b3b3b3;
  padding-left: 0.64rem;
  text-align: left;
  margin-top: 1.6rem;
  margin-bottom: 0.26666667rem;
}
.currency {
  width: 18.72rem;
  height: 4.8rem;
  background-color: #ffffff;
  border-radius: 0.16rem;
  margin: 0 auto;
}
.currency .money {
  width: 100%;
  height: 2.4rem;
}
.money div {
  float: left;
  display: inline-block;
  text-align: center;
  width: 30%;
  height: 2.4rem;
  line-height: 2.4rem;
  margin-left: 2.66666667rem;
}
.money input {
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
  font-size: 0.96rem;
}
.money .money_one {
  font-family: PingFang-SC-Medium;
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #1f1f1f;
  border-bottom: 1px solid #F5F5F5;
}
.money .money_two {
  font-family: PingFang-SC-Medium;
  font-size: 1.06666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #fd2929;
  border-bottom: 1px solid #F5F5F5;
  margin-left: 2.13333333rem;
}
.chongzhi {
  width: 100%;
  height: 2.4rem;
}
.chongzhi div {
  float: left;
  display: inline-block;
  text-align: center;
  width: 30%;
  height: 2.4rem;
  color: #333333;
  font-size: 0.64rem;
  line-height: 2.4rem;
  margin-left: 2.66666667rem;
}
.chongzhi .chongzhi_two {
  margin-left: 2.13333333rem;
}
.refillitem {
  width: 100%;
}
.refillitem .item {
  width: 100%;
  height: 0.8rem;
  font-family: PingFang-SC-Bold;
  font-size: 0.64rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  padding-left: 0.64rem;
  margin-top: 1.33333333rem;
}
.refillitem .recharge {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
}
.refillitem .recharge .refill_pic {
  width: 1.06666667rem;
  height: 1.06666667rem;
  margin-top: 0.88rem;
  margin-left: 0.64rem;
  display: inline-block;
  float: left;
}
.refillitem .recharge .refill_world {
  width: 4.8rem;
  height: 1.06666667rem;
  margin-top: 0.88rem;
  margin-left: 0.64rem;
  display: inline-block;
  float: left;
  color: #1f1f1f;
  line-height: 1.06666667rem;
  font-size: 0.74666667rem;
}
.refillitem .recharge .refill_next {
  width: 0.53333333rem;
  height: 0.85333333rem;
  margin-top: 0.98666667rem;
  margin-right: 0.64rem;
  display: inline-block;
  float: right;
  color: #1f1f1f;
}
