header a {
  color: white;
}
.main {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.mui-bar {
  width: 20rem;
  height: 2.34666667rem;
  background-color: #279cfe;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.mui-title {
  color: #ffffff;
  font-size: 0.96rem;
}
.content {
  width: 100%;
  height: 18.34666667rem;
  padding: 0.64rem;
  background-color: #ffffff;
}
.pricecontent {
  width: 100%;
  height: 7.84rem;
  background: white;
  border: 1px solid #F5F5F5;
  border-bottom: none;
}
.pricecontent .price_one {
  width: 20rem;
  height: 2.34666667rem;
}
.pricecontent .price_one div {
  display: inline-block;
  float: left;
}
.pricecontent .price_one div:first-child {
  width: 4rem;
  height: 2.34666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #1f1f1f;
  text-align: center;
  line-height: 2.34666667rem;
  margin-left: 0.26666667rem;
}
.pricecontent .price_one div:last-child {
  width: 0.64rem;
  height: 0.64rem;
  margin-top: 0.85333333rem;
}
.price_two {
  width: 100%;
  height: 4rem;
  font-size: 0.96rem;
  font-weight: normal;
  font-stretch: normal;
  padding-left: 4.77333333rem;
  letter-spacing: 0px;
  color: #1f1f1f;
}
.price_two input {
  width: 8.53333333rem;
  height: 2.82666667rem;
  border-radius: 0.16rem;
  border: solid 0.02666667rem #cccccc;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: PingFang-SC-Medium;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #f25c5c;
}
.price_two span {
  font-family: PingFang-SC-Medium;
  font-size: 0.96rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #f25c5c;
}
.price_three {
  width: 100%;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  text-align: left;
  font-family: PingFang-SC-Medium;
  font-size: 0.58666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #b3b3b3;
  padding-left: 0.66666667rem;
}
.order_number {
  margin-top: 0.8rem;
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F5F5;
}
.order_number .number_one {
  width: 3.86666667rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  padding-left: 0.64rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
}
.order_number .number_two {
  width: 3.86666667rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  margin-left: 0.90666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
}
.order_number .carstype {
  width: 3.86666667rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: right;
  text-align: center;
  line-height: 2.82666667rem;
  margin-left: 1.44rem;
  letter-spacing: 0.02666667rem;
  color: #f5ca1d;
}
.place {
  width: 100%;
  height: 5.17333333rem;
  border: 1px solid #F5F5F5;
  border-bottom: none;
}
.startplace {
  width: 100%;
  height: 1.94666667rem;
  background-color: #ffffff;
}
.startplace .number_one {
  width: 0.53333333rem;
  height: 0.53333333rem;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  font-stretch: normal;
  margin-top: 0.56rem;
  margin-left: 0.64rem;
  float: left;
  border-radius: 100%;
  background-color: #279cfe;
}
.startplace .number_two {
  width: 13.86666667rem;
  height: 1.94666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 1.94666667rem;
  margin-left: 0.90666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 0.64rem;
  text-overflow: ellipsis;
}
.endplace {
  width: 100%;
  height: 2.88rem;
  background-color: #ffffff;
}
.endplace .number_one {
  width: 0.53333333rem;
  height: 0.53333333rem;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  font-stretch: normal;
  margin-top: 0.56rem;
  margin-left: 0.64rem;
  float: left;
  border-radius: 100%;
  background-color: #fdbf42;
}
.endplace .number_two {
  width: 13.86666667rem;
  height: 1.49333333rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 1.49333333rem;
  margin-left: 0.90666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  margin-right: 0.64rem;
}
.goodtypeandtime {
  width: 100%;
  height: 3.36rem;
  border: 1px solid #F5F5F5;
}
.goodstype {
  width: 100%;
  height: 1.54666667rem;
  background-color: #ffffff;
}
.goodstype .type_one {
  width: 4.4rem;
  height: 1.54666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 1.54666667rem;
  padding-left: 0.64rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  white-space: nowrap;
}
.goodstype .type_two {
  width: 4rem;
  height: 1.54666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 1.54666667rem;
  margin-left: 0.90666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 0.64rem;
  text-overflow: ellipsis;
}
.goodstype .type_three {
  width: 8rem;
  height: 1.54666667rem;
  display: inline-block;
  float: left;
}
.type_three .weight {
  width: 4rem;
  height: 1.54666667rem;
  white-space: nowrap;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  line-height: 1.54666667rem;
  display: inline-block;
  float: left;
}
.type_three .number {
  width: 4rem;
  height: 1.54666667rem;
  display: inline-block;
  float: left;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  line-height: 1.54666667rem;
}
.startime {
  width: 100%;
  height: 1.54666667rem;
  background-color: #ffffff;
}
.startime .number_one {
  width: 4.4rem;
  height: 1.54666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 1.54666667rem;
  padding-left: 0.64rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  white-space: nowrap;
}
.startime .number_two {
  width: 10.66666667rem;
  height: 1.54666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 1.54666667rem;
  margin-left: 0.90666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  margin-right: 0.64rem;
}
.uploadImg {
  width: 20rem;
  height: 3.73333333rem;
  background-color: #ffffff;
}
.uploadImg div {
  width: 3.73333333rem;
  height: 2.8rem;
  margin-top: 0.45333333rem;
  margin-left: 0.64rem;
  display: inline-block;
  float: left;
}
.remarks {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F5F5;
}
.remarks .number_one {
  width: 4.4rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  padding-left: 0.64rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  white-space: nowrap;
}
.remarks .number_two {
  width: 13.33333333rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  margin-left: 0.90666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  margin-right: 0.64rem;
}
.surepublish {
  width: 100%;
  height: 2.34666667rem;
  background-color: #279cfe;
  position: fixed;
  bottom: 0;
  left: 0;
  line-height: 2.34666667rem;
  text-align: center;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.02666667rem;
  color: #fffefe;
}
.orderdriver {
  width: 100%;
  height: 2.34666667rem;
  text-align: left;
  padding-left: 0.64rem;
  font-family: PingFang-SC-Bold;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.34666667rem;
  letter-spacing: 1px;
  color: #1f1f1f;
}
.drivercontent {
  width: 100%;
  height: auto;
  margin-bottom: 6.66666667rem;
}
.driver {
  width: 20rem;
  height: 5.33333333rem;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F5F5;
}
.driver .carimg {
  width: 4.10666667rem;
  height: 3.73333333rem;
  margin-top: 0.53333333rem;
  margin-left: 0.64rem;
  border-radius: 0.10666667rem;
  display: inline-block;
  float: left;
}
.driver .drivermessage {
  width: 15.25333333rem;
  height: 5.33333333rem;
  padding: 0.64rem;
  display: inline-block;
  float: left;
}
.drivermessage .dv_contact {
  width: 100%;
  height: 1.06666667rem;
}
.dv_contact div {
  display: inline-block;
  float: left;
  font-family: PingFang-SC-Bold;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #1f1f1f;
}
.dv_contact div:last-child {
  width: 1.06666667rem;
  height: 1.06666667rem;
  float: right;
}
.drivermessage .dv_tele {
  width: 100%;
  height: 1.06666667rem;
  margin-top: 0.26666667rem;
}
.dv_tele div {
  display: inline-block;
  float: left;
  font-family: PingFang-SC-Bold;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #1f1f1f;
}
.dv_tele div:last-child {
  width: 1.06666667rem;
  height: 1.06666667rem;
  float: left;
  margin-left: 1.06666667rem;
}
.drivermessage .cartype {
  width: 100%;
  height: 1.06666667rem;
  font-family: PingFang-SC-Bold;
  font-size: 0.64rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.06666667rem;
  letter-spacing: 0px;
  color: #fdc24c;
  text-align: left;
  margin-top: 0.66666667rem;
}
.payforitem {
  width: 100%;
  height: 12.8rem;
  background: white;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 1000;
}
.payforitem .payfor {
  width: 100%;
  height: 2.13333333rem;
}
.payforitem .payfor_one {
  width: 5.33333333rem;
  height: 2.13333333rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.13333333rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  display: inline-block;
  float: left;
  margin-left: 0.66666667rem;
}
.payforitem .payfor_two {
  width: 0.90666667rem;
  height: 0.90666667rem;
  margin-right: 0.61333333rem;
  display: inline-block;
  float: right;
  margin-top: 0.61333333rem;
}
.zhifubao {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  margin-top: 1.33333333rem;
}
.zhifubao .zhifubao_pic {
  display: inline-block;
  width: 0.90666667rem;
  height: 0.90666667rem;
  float: left;
  margin-top: 0.96rem;
  margin-left: 0.64rem;
}
.zhifubao .zhifubao_wrold {
  width: 5.33333333rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.82666667rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  display: inline-block;
  float: left;
  margin-left: 0.8rem;
}
.zhifubao .zhifubao_next {
  width: 0.42666667rem;
  height: 0.8rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  margin-top: 1.01333333rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  display: inline-block;
  float: right;
  margin-right: 0.8rem;
}
.webchat {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  margin-top: 1.33333333rem;
}
.webchat .webchat_pic {
  display: inline-block;
  width: 0.90666667rem;
  height: 0.90666667rem;
  float: left;
  margin-top: 0.96rem;
  margin-left: 0.64rem;
}
.webchat .webchat_wrold {
  width: 5.33333333rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.82666667rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  display: inline-block;
  float: left;
  margin-left: 0.8rem;
}
.webchat .webchat_next {
  width: 0.42666667rem;
  height: 0.8rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  margin-top: 1.01333333rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  display: inline-block;
  float: right;
  margin-right: 0.8rem;
}
