header a {
  color: white;
}
.main {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.mui-bar {
  width: 20rem;
  height: 2.34666667rem;
  background-color: #279cfe;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.mui-title {
  color: #ffffff;
  font-size: 0.96rem;
}
.car {
  position: absolute;
  top: 0.37333333rem;
  left: 6.34666667rem;
  width: 7.46666667rem;
  height: 1.6rem;
  background-color: #279cfe;
  border-radius: 0px 0.16rem 0.16rem 0px;
  border: solid 0.05333333rem #ffffff;
  z-index: 100;
}
.car div {
  width: 50%;
  height: 1.6rem;
  display: inline-block;
  float: left;
  line-height: 1.6rem;
  text-align: center;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  color: white;
  background: #279cfe;
  letter-spacing: 0px;
  border: solid 0.05333333rem #ffffff;
  border-left: none;
}
.car .Cars {
  color: #279cfe;
  background: white;
}
.addcarone {
  color: #ffffff;
  background: #279cfe;
}
.startplace {
  width: 100%;
  height: 5.06666667rem;
  background: white;
  border-bottom: 1px solid #F5F5F5;
}
.startplace .place {
  width: 100%;
  height: 2.34666667rem;
}
.startplace .place_one {
  width: 2.66666667rem;
  height: 2.34666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.34666667rem;
  letter-spacing: 0px;
  color: #279cfe;
  display: inline-block;
  float: left;
  margin-left: 0.64rem;
}
.startplace .place_two {
  width: 8rem;
  height: 2.34666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.34666667rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  display: inline-block;
  float: left;
  margin-left: 1.06666667rem;
}
.startplace .place_three {
  width: 0.42666667rem;
  height: 0.8rem;
  display: inline-block;
  float: right;
  margin-right: 0.8rem;
  margin-top: 0.77333333rem;
}
.startplace .detailedaddress {
  width: 20rem;
  height: 2.72rem;
  background-color: #ffffff;
}
.startplace .detailedaddress input {
  width: 100%;
  height: 2.72rem;
  line-height: 2.72rem;
  padding: 0;
  margin: 0;
  padding-left: 4.26666667rem;
  border: none;
  border-top: 1px solid #F5F5F5;
}
.destination {
  width: 100%;
  height: 5.06666667rem;
  background: white;
  border-bottom: 1px solid #F5F5F5;
}
.destination .place {
  width: 100%;
  height: 2.34666667rem;
}
.destination .place_one {
  width: 2.66666667rem;
  height: 2.34666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.34666667rem;
  letter-spacing: 0px;
  color: #ffc34a;
  display: inline-block;
  float: left;
  margin-left: 0.64rem;
}
.destination .place_two {
  width: 8rem;
  height: 2.34666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.34666667rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  display: inline-block;
  float: left;
  margin-left: 1.06666667rem;
}
.destination .place_three {
  width: 0.42666667rem;
  height: 0.8rem;
  display: inline-block;
  float: right;
  margin-right: 0.8rem;
  margin-top: 0.77333333rem;
}
.destination .detailedaddress {
  width: 20rem;
  height: 2.72rem;
  background-color: #ffffff;
}
.destination .detailedaddress input {
  width: 100%;
  height: 2.72rem;
  line-height: 2.72rem;
  padding: 0;
  margin: 0;
  padding-left: 4.26666667rem;
  border: none;
  border-top: 1px solid #F5F5F5;
}
.goodstype {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  margin-top: 0.8rem;
  border-bottom: 1px solid #F5F5F5;
}
.goodstype .type_one {
  width: 3.30666667rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.82666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  display: inline-block;
  float: left;
  margin-left: 0.64rem;
}
.goodstype .type_two {
  width: 5.97333333rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.82666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  display: inline-block;
  float: right;
  text-align: right;
  margin-right: 0.26666667rem;
}
.goodstype .type_three {
  width: 0.42666667rem;
  height: 0.8rem;
  margin-right: 0.8rem;
  margin-top: 1.01333333rem;
  display: inline-block;
  float: right;
}
.goodsvolume {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F5F5;
}
.goodsvolume .volume_one {
  width: 4.90666667rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.82666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  display: inline-block;
  float: left;
  margin-left: 0.64rem;
}
.goodsvolume .volume_three {
  width: 5.33333333rem;
  height: 1.44rem;
  background-color: #ffffff;
  display: inline-block;
  float: right;
  margin-top: 0.69333333rem;
  margin-right: 0.8rem;
}
.goodsvolume .volume_three input {
  width: 3.73333333rem;
  height: 1.44rem;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 0.16rem;
  border: solid 0.02666667rem #b3b3b3;
}
.goodsvolume .volume_two {
  width: 5.33333333rem;
  height: 1.44rem;
  background-color: #ffffff;
  display: inline-block;
  float: right;
  margin-top: 0.69333333rem;
  margin-right: 0.8rem;
}
.goodsvolume .volume_two input {
  width: 3.73333333rem;
  height: 1.44rem;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 0.16rem;
  border: solid 0.02666667rem #b3b3b3;
}
.cartypeandlen {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F5F5;
}
.cartypeandlen .typeandlen_one {
  width: 4.37333333rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.82666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  display: inline-block;
  float: left;
  margin-left: 0.64rem;
}
.cartypeandlen .typeandlen_two {
  max-width: 13.44rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.82666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  display: inline-block;
  float: right;
  margin-right: 0.26666667rem;
  white-space: nowrap;
  text-align: right;
}
.cartypeandlen .typeandlen_three {
  width: 0.42666667rem;
  height: 0.8rem;
  margin-right: 0.8rem;
  margin-top: 1.01333333rem;
  display: inline-block;
  float: right;
}
.Loadingtime {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F5F5;
}
.Loadingtime .typeandlen_one {
  width: 4.37333333rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.82666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  display: inline-block;
  float: left;
  margin-left: 0.64rem;
}
.Loadingtime .typeandlen_two {
  width: 8.10666667rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.82666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  display: inline-block;
  float: right;
  margin-right: 0.26666667rem;
  white-space: nowrap;
  text-align: right;
}
.Loadingtime .typeandlen_three {
  width: 0.42666667rem;
  height: 0.8rem;
  margin-right: 0.8rem;
  margin-top: 1.01333333rem;
  display: inline-block;
  float: right;
}
.goodsimg {
  width: 100%;
  height: 6.66666667rem;
  background: white;
}
.goodsimg .pic_one {
  width: 100%;
  height: 2.82666667rem;
  text-align: left;
  line-height: 2.82666667rem;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  padding-left: 0.64rem;
  border-bottom: 1px solid #F5F5F5;
}
.goodsimg .pic_two {
  width: 100%;
  height: 3.84rem;
}
.goodsimg .addpic {
  width: 4.8rem;
  height: 3.84rem;
  display: inline-block;
  float: left;
}
.goodsimg .addpicitem {
  display: inline-block;
  float: left;
}
.goodsimg .addpicitem .imgs {
  width: 3.2rem;
  height: 2.66666667rem;
  float: left;
  position: relative;
  margin-top: 0.58666667rem;
  margin-left: 0.26666667rem;
}
.del_icon {
  position: absolute;
  top: -0.26666667rem;
  right: -0.26666667rem;
  width: 0.93333333rem;
  height: 0.93333333rem;
}
.goodsimg .picwh {
  width: 2.13333333rem;
  height: 2.13333333rem;
  border-radius: 0.16rem;
  margin-left: 1.06666667rem;
  margin-top: 0.53333333rem;
}
.num {
  width: 5.33333333rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.58666667rem;
  font-weight: normal;
  font-stretch: normal;
  margin-left: 0.53333333rem;
  letter-spacing: 0.02666667rem;
  color: #b3b3b3;
}
.startBullet {
  width: 20rem;
  height: 12.8rem;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}
.startBullet .sure {
  width: 20rem;
  height: 2.13333333rem;
  background-color: #ffffff;
  text-align: right;
  line-height: 2.13333333rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #279cfe;
  border-bottom: 1px solid #F5F5F5;
}
.placeitem {
  width: 100%;
  height: 10.66666667rem;
}
.placeitem .provinece {
  width: 6.66666667rem;
  height: 10.66666667rem;
  display: inline-block;
  float: left;
  position: relative;
}
.placeitem .city {
  width: 6.66666667rem;
  height: 10.66666667rem;
  display: inline-block;
  float: left;
  position: relative;
}
.placeitem .county {
  width: 6.66666667rem;
  height: 10.66666667rem;
  display: inline-block;
  float: left;
  position: relative;
}
.selcetpc,
.selcetcity,
.selectcounty {
  width: 6.66666667rem;
  height: 1.86666667rem;
  line-height: 1.86666667rem;
  text-align: center;
  border: none;
  border-top: 2px solid #F5F5F5;
  border-bottom: 2px solid #F5F5F5;
  position: absolute;
  top: 3.73333333rem;
  left: 0;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #279cfe;
}
.swiper-container1 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.swiper-container1 .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-container1 .swiper-wrapper .swiper-slide {
  height: 1.86666667rem;
  line-height: 1.86666667rem;
}
.payforitem {
  width: 100%;
  height: 12.8rem;
  background: white;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 1000;
}
.payforitem .payfor {
  width: 100%;
  height: 2.13333333rem;
}
.payforitem .payfor_one {
  width: 5.33333333rem;
  height: 2.13333333rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.13333333rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  display: inline-block;
  float: left;
  margin-left: 0.66666667rem;
}
.payforitem .payfor_two {
  width: 0.90666667rem;
  height: 0.90666667rem;
  margin-right: 0.61333333rem;
  display: inline-block;
  float: right;
  margin-top: 0.61333333rem;
}
.zhifubao {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  margin-top: 1.33333333rem;
}
.zhifubao .zhifubao_pic {
  display: inline-block;
  width: 0.90666667rem;
  height: 0.90666667rem;
  float: left;
  margin-top: 0.96rem;
  margin-left: 0.64rem;
}
.zhifubao .zhifubao_wrold {
  width: 5.33333333rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.82666667rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  display: inline-block;
  float: left;
  margin-left: 0.8rem;
}
.zhifubao .zhifubao_next {
  width: 0.42666667rem;
  height: 0.8rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  margin-top: 1.01333333rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  display: inline-block;
  float: right;
  margin-right: 0.8rem;
}
.webchat {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  margin-top: 1.33333333rem;
}
.webchat .webchat_pic {
  display: inline-block;
  width: 0.90666667rem;
  height: 0.90666667rem;
  float: left;
  margin-top: 0.96rem;
  margin-left: 0.64rem;
}
.webchat .webchat_wrold {
  width: 5.33333333rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.82666667rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  display: inline-block;
  float: left;
  margin-left: 0.8rem;
}
.webchat .webchat_next {
  width: 0.42666667rem;
  height: 0.8rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  margin-top: 1.01333333rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  display: inline-block;
  float: right;
  margin-right: 0.8rem;
}
.mask {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  background: black;
  opacity: 0.5;
  z-index: 100;
}
.remarks {
  width: 100%;
  height: 6.66666667rem;
  background: white;
  margin-top: 0.26666667rem;
}
.remarks .remarks_one {
  width: 100%;
  height: 2.82666667rem;
  line-height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  text-align: left;
  letter-spacing: 0.02666667rem;
  padding-left: 0.64rem;
  color: #1f1f1f;
}
.remarks .remarks_two {
  width: 100%;
  height: 3.73333333rem;
  background-color: #ffffff;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
}
.remarks .remarks_two textarea {
  border: none;
}
.nextbtn {
  width: 18.72rem;
  height: 2.34666667rem;
  background-color: #279cfe;
  border-radius: 0.16rem;
  line-height: 2.34666667rem;
  text-align: center;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.02666667rem;
  color: #ffffff;
  margin-top: 4rem;
  margin-left: 0.64rem;
  margin-bottom: 5.33333333rem;
}
.tc_typeofgoods {
  width: 100%;
  height: 12.8rem;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background: white;
  padding-right: 0.8rem;
  display: none;
}
.tc_typeofgoods .sure {
  width: 100%;
  height: 2.13333333rem;
  line-height: 2.13333333rem;
  text-align: right;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #279cfe;
  border-bottom: 1px solid #F5F5F5;
}
.tc_typeofgoods .goodsitem {
  width: 100%;
  height: 10.66666667rem;
}
.tc_typeofgoods .goodsitem {
  width: 100%;
  height: 10.66666667rem;
}
.goodselect {
  width: 100%;
  height: 1.86666667rem;
  position: absolute;
  top: 6.53333333rem;
  left: 0;
}
.goodselect input {
  width: 100%;
  height: 1.86666667rem;
  line-height: 1.86666667rem;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #279cfe;
  border-right: none;
  border-left: none;
}
.tc_typeofcars {
  width: 100%;
  height: 16.53333333rem;
  background: white;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  display: none;
}
.tc_typeofcars .carcancel {
  width: 100%;
  height: 2.13333333rem;
}
.tc_typeofcars .cancel {
  width: 0.90666667rem;
  height: 0.90666667rem;
  float: right;
  margin-top: 0.69333333rem;
  margin-right: 0.66666667rem;
  border-bottom: 1px solid #F5F5F5;
}
.tc_typeofcars .carsitem {
  width: 100%;
  height: 12.05333333rem;
}
.tc_typeofcars .carsitem .carslength {
  width: 100%;
  height: 8.26666667rem;
}
.carslength .length_one {
  width: 100%;
  height: 1.86666667rem;
  line-height: 1.86666667rem;
  margin-left: 0.64rem;
  text-align: left;
  font-family: PingFang-SC-Medium;
  font-size: 0.64rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #1f1f1f;
}
.carslength .length_two {
  width: 100%;
  height: 6.4rem;
}
.carslength .length_two .box {
  width: 5.33333333rem;
  height: 2.34666667rem;
  display: table;
  float: left;
  margin-left: 0.93333333rem;
  margin-top: 0.53333333rem;
}
.carslength .length_two .box div {
  vertical-align: middle;
  display: table-cell;
  width: 5.33333333rem;
  height: 2.34666667rem;
  font-size: 0.64rem;
  font-weight: normal;
  font-stretch: normal;
  border: solid 0.02666667rem #cccccc;
  letter-spacing: 0px;
  color: #b3b3b3;
  padding: 0 0.26666667rem;
  text-align: center;
}
.tc_typeofcars .carsitem .carstype .type_two .addbgcolor {
  color: #279cfe;
}
.carstype {
  width: 100%;
  height: 4rem;
}
.carstype .type_one {
  width: 100%;
  height: 1.06666667rem;
  text-align: left;
  line-height: 1.06666667rem;
  padding-left: 0.64rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.64rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #1f1f1f;
}
.carstype .type_two {
  width: 100%;
  height: 2.93333333rem;
  overflow: auto;
}
.carstype .type_two div {
  width: 5.33333333rem;
  height: 1.44rem;
  background-color: #ffffff;
  margin-top: 0.74666667rem;
  margin-left: 0.93333333rem;
  border-radius: 0.16rem;
  border: solid 0.02666667rem #cccccc;
  float: left;
  display: inline-block;
  font-family: PingFang-SC-Medium;
  font-size: 0.64rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.44rem;
  letter-spacing: 0px;
  color: #b3b3b3;
  text-align: center;
}
.carsure {
  width: 100%;
  height: 2.13333333rem;
  background-color: #279cfe;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 2.13333333rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
}
.tc_loadingtime {
  width: 100%;
  height: 12.8rem;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background: white;
  padding-right: 0.8rem;
}
.tc_loadingtime .sure {
  width: 100%;
  height: 2.13333333rem;
  line-height: 2.13333333rem;
  text-align: right;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #279cfe;
  border-bottom: 1px solid #F5F5F5;
}
.tc_loadingtime .timesitem {
  width: 100%;
  height: 10.66666667rem;
}
.tc_loadingtime .timeselect {
  width: 50%;
  height: 1.86666667rem;
  float: left;
  display: inline-block;
  position: absolute;
  top: 6.53333333rem;
  left: 0;
}
.tc_loadingtime .timeselect input {
  width: 100%;
  height: 1.86666667rem;
  line-height: 1.86666667rem;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #279cfe;
  border-right: none;
  border-left: none;
}
.Carstype {
  width: 100%;
  height: 16.53333333rem;
  position: fixed;
  bottom: 0;
  left: 0;
}
.Carstype .Cars_img {
  width: 0.90666667rem;
  height: 0.90666667rem;
  float: right;
  margin-right: 0.64rem;
  margin-top: 0.72rem;
}
.type_one {
  width: 20rem;
  height: 2.13333333rem;
  background-color: #ffffff;
}
.panel {
  width: 100%;
  max-height: 6.66666667rem;
  overflow: auto;
}
.Carstype .panel-group .panel-body div {
  width: 5.33333333rem;
  height: 2.34666667rem;
  background-color: #ffffff;
  border-radius: 0.16rem;
  border: solid 0.02666667rem #cccccc;
  font-family: PingFang-SC-Medium;
  font-size: 0.64rem;
  font-weight: normal;
  font-stretch: normal;
  margin-left: 0.53333333rem;
  text-align: center;
  color: #b3b3b3;
  float: left;
  margin-top: 0.53333333rem;
}
