.clear::after {
  content: "";
  display: block;
  clear: both;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.mui-bar {
  background: #279cfe;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  height: 2.3466666666666667rem;
}
.mui-bar .mui-title {
  color: #fff;
}
.mui-bar .mingxi {
  text-align: right;
  font-family: PingFang-SC-Medium;
  font-size: 0.7466666666666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
  right: 0.64rem;
}
.mui-bar-nav ~ .mui-content {
  padding-top: 2.3466666666666667rem;
}
.main {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.main .fictitious {
  background: #279CFE;
  width: 100%;
  height: auto;
  padding: 0 0.64rem;
  position: relative;
}
.main .income {
  background: #fff;
  border-bottom: 0.13333333333333333rem solid #cccccc;
}
.fictitious .virtual_coin {
  height: 1.76rem;
  line-height: 1.76rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.64rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
}
.income .virtual_coin {
  color: #1f1f1f;
}
.fictitious .fictitious_number {
  height: 3.466666666666667rem;
  line-height: 3.466666666666667rem;
  margin-bottom: 0.16rem;
  margin-left: 0.13333333333333333rem;
  font-family: ArialMT;
  font-size: 1.92rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
}
.income .fictitious_number {
  color: #fd2929;
}
.main .Recharge {
  margin-top: 1.3866666666666667rem;
  width: 100%;
  height: auto;
  padding: 0 0.64rem;
}
.Recharge .tishi {
  height: 1.1733333333333333rem;
  margin-left: 0.64rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.5866666666666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.1733333333333333rem;
  letter-spacing: 0px;
  color: #b3b3b3;
}
.Recharge .Recharge_ul {
  background: #fff;
  border-radius: 0.16rem;
  padding-top: 0.5866666666666667rem;
  padding-bottom: 0.10666666666666667rem;
}
.Recharge_ul .Recharge_li {
  width: 50%;
  float: left;
}
.Recharge_li input {
  display: block;
  margin: 0 auto;
  width: 8rem;
  height: 2.08rem;
  line-height: 2.08rem;
  text-align: center;
  border: 0;
  padding: 0;
  font-family: PingFang-SC-Medium;
  font-size: 0.8533333333333334rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
}
.Recharge_li .input_recharge {
  color: #fd2929;
}
.Recharge_li .li_money,
.li_coin {
  width: 4rem;
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid #f0eff4;
  height: 2.026666666666667rem;
  line-height: 2.026666666666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.64rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
}
.main .Recharge_mode {
  width: 100%;
  height: auto;
}
.Recharge_mode .tishi {
  margin: 1.3866666666666667rem 0.64rem 0;
  font-family: PingFang-SC-Bold;
  font-size: 0.64rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.2266666666666666rem;
  height: 1.2266666666666666rem;
  letter-spacing: 0px;
  color: #1f1f1f;
}
.Recharge_mode .mode_ul {
  width: 100%;
  height: auto;
}
.mode_ul .mode_li {
  background: #fff;
  height: 2.8266666666666667rem;
  line-height: 2.8266666666666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.7466666666666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #1f1f1f;
  padding: 0 0.64rem;
  margin-bottom: 1px;
}
.mode_li .li_left {
  float: left;
}
.li_left .left_icon {
  margin-top: 0.8533333333333334rem;
  float: left;
  width: 1.0666666666666667rem;
  height: 1.0666666666666667rem;
}
.left_icon .icon {
  width: 1.0666666666666667rem;
  height: 1.0666666666666667rem;
}
.li_left .left_name {
  float: left;
  margin-left: 0.5333333333333333rem;
}
.mode_li .li_right {
  float: right;
  width: 0.48rem;
  height: 0.8rem;
  margin-top: 1.0133333333333334rem;
}
.main .main_tixian {
  width: 100%;
  height: auto;
  padding: 1.7066666666666668rem 3.3066666666666666rem;
}
.main_tixian .tixian {
  margin: 0 auto;
  width: auto;
  height: 2.3466666666666667rem;
  line-height: 2.3466666666666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.8533333333333334rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
  background: #279CFE;
  text-align: center;
  border-radius: 0.16rem;
}
.main .main_ul {
  width: 100%;
  height: auto;
}
.main_ul .main_li {
  width: 100%;
  height: auto;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  font-family: PingFang-SC-Bold;
}
.main_li .incometime {
  width: 100%;
  height: 1.3333333333333333rem;
  line-height: 1.3333333333333333rem;
  font-size: 0.7466666666666667rem;
  color: #1f1f1f;
  margin-top: 0.6933333333333334rem;
  padding-left: 0.5866666666666667rem;
}
.main_li:first-child .incometime {
  margin-top: 0.21333333333333335rem;
}
.main_li .income_value {
  width: 100%;
  height: 2.8266666666666667rem;
  background: #fff;
  line-height: 2.8266666666666667rem;
  position: relative;
  font-weight: normal;
  font-stretch: normal;
  font-family: PingFang-SC-Medium;
  letter-spacing: 0px;
}
.income_value .left_value {
  width: 50%;
  height: 2.8266666666666667rem;
  text-align: center;
  font-size: 1.0666666666666667rem;
  color: #299ffb;
}
.income_value .today {
  color: #fd2929;
}
.income_value .right_value {
  width: 50%;
  height: 2.8266666666666667rem;
  text-align: center;
  font-size: 1.0666666666666667rem;
  color: #1f1f1f;
}
.income_value .shuxian {
  width: 2px;
  height: 1.0666666666666667rem;
  position: absolute;
  top: 0.88rem;
  left: 50%;
  margin-left: 1px;
  background: #f0eff4;
}
.mui-bar span {
  position: absolute;
  right: 0.29333333333333333rem;
  top: 50%;
  margin-top: -0.4rem;
  width: 3.466666666666667rem;
  height: 0.8rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.7466666666666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0px;
  color: #ffffff;
}
.Virtual_currency {
  position: absolute;
  right: 0.64rem;
  top: 0rem;
  color: white;
  font-size: 0.6933333333333334rem;
  width: auto;
}
/*# sourceMappingURL=mymoney.css.map */
