header a {
  color: white;
}
.main {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.mui-bar {
  width: 20rem;
  height: 2.34666667rem;
  background-color: #279cfe;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.mui-title {
  color: #ffffff;
  font-size: 0.96rem;
}
.pricecontent {
  width: 100%;
  height: 2.93333333rem;
  background: white;
  margin-bottom: 0.8rem;
}
.pricecontent .price_one {
  width: 0.64rem;
  height: 0.64rem;
  display: inline-block;
  float: left;
  margin-top: 1.14666667rem;
  margin-left: 0.64rem;
}
.pricecontent .price_two {
  width: 4.8rem;
  height: 2.93333333rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.93333333rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  display: inline-block;
  float: left;
  padding-left: 0.93333333rem;
}
.price_three {
  width: 8rem;
  height: 2.93333333rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.96rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.93333333rem;
  letter-spacing: 0px;
  color: #f25c5c;
  display: inline-block;
  float: left;
}
.price_four {
  width: 3.2rem;
  height: 2.93333333rem;
  font-family: PingFang-SC-Bold;
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.93333333rem;
  letter-spacing: 0px;
  color: #f5ca1d;
  display: inline-block;
  float: right;
}
.goodsperson {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F5F5;
}
.goodsperson .number_one {
  width: 3.33333333rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
}
.goodsperson .place_pic {
  width: 0.53333333rem;
  height: 0.53333333rem;
  display: inline-block;
  float: left;
  margin-top: 1.14666667rem;
  margin-left: 0.53333333rem;
}
.goodsperson .number_two {
  max-width: 13.33333333rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  margin-left: 0.37333333rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 0.64rem;
  text-overflow: ellipsis;
}
.goodsperson .number_two .name {
  color: #279cfe;
}
.goodsperson .number_two .tel {
  margin-left: 0.8rem;
}
.startplace {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F5F5;
}
.startplace .number_one {
  width: 3.33333333rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
}
.startplace .place_pic {
  width: 0.53333333rem;
  height: 0.53333333rem;
  display: inline-block;
  float: left;
  margin-top: 1.14666667rem;
  margin-left: 0.53333333rem;
}
.startplace .number_two {
  max-width: 13.33333333rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  margin-left: 0.37333333rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 0.64rem;
  text-overflow: ellipsis;
}
.endplace {
  width: 20rem;
  height: 3.94666667rem;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F5F5;
  padding-top: 0.53333333rem;
}
.endplace .place_pic {
  width: 0.53333333rem;
  height: 0.53333333rem;
  display: inline-block;
  float: left;
  margin-top: 1.14666667rem;
  margin-left: 0.53333333rem;
}
.endplace .number_one {
  width: 3.86666667rem;
  height: 1.49333333rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 1.49333333rem;
  padding-left: 0.64rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
}
.endplace .number_two {
  width: 13.33333333rem;
  height: 1.49333333rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 1.49333333rem;
  margin-left: 0.90666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  margin-right: 0.64rem;
}
.goodstype {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F5F5;
}
.goodstype .type_img {
  width: 0.53333333rem;
  height: 0.53333333rem;
  display: inline-block;
  float: left;
  margin-top: 1.14666667rem;
  margin-left: 0.53333333rem;
}
.goodstype .type_one {
  width: 4.4rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  white-space: nowrap;
}
.goodstype .type_two {
  width: 4rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  margin-left: 0.90666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 0.64rem;
  text-overflow: ellipsis;
}
.goodstype .type_three {
  width: 9.33333333rem;
  height: 2.82666667rem;
  display: inline-block;
  float: left;
}
.type_three .weight {
  width: 5.33333333rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  line-height: 2.82666667rem;
  display: inline-block;
  float: left;
}
.type_three .number {
  width: 4rem;
  height: 2.82666667rem;
  display: inline-block;
  float: right;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  line-height: 2.82666667rem;
}
.startime {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F5F5;
}
.startime .place_pic {
  width: 0.53333333rem;
  height: 0.53333333rem;
  display: inline-block;
  float: left;
  margin-top: 1.14666667rem;
  margin-left: 0.53333333rem;
}
.startime .number_one {
  width: 4.4rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  white-space: nowrap;
}
.startime .number_two {
  width: 12.8rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  margin-left: 0.90666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  margin-right: 0.64rem;
}
.remarks {
  width: 20rem;
  height: 2.82666667rem;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F5F5;
}
.remarks .place_pic {
  width: 0.53333333rem;
  height: 0.53333333rem;
  display: inline-block;
  float: left;
  margin-top: 1.14666667rem;
  margin-left: 0.53333333rem;
}
.remarks .number_one {
  width: 4.4rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  white-space: nowrap;
}
.remarks .number_two {
  width: 12.8rem;
  height: 2.82666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline-block;
  float: left;
  text-align: left;
  line-height: 2.82666667rem;
  margin-left: 0.90666667rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  margin-right: 0.64rem;
}
.surepublish {
  width: 100%;
  height: 2.34666667rem;
  background-color: #279cfe;
  position: fixed;
  bottom: 0;
  left: 0;
  line-height: 2.34666667rem;
  text-align: center;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.02666667rem;
  color: #fffefe;
}
#slider {
  width: 100%;
  height: 11.2rem;
  position: relative;
  overflow: hidden;
}
#slider img {
  width: 100%;
  height: 11.2rem;
  overflow: hidden;
}
#slider .swiper-container {
  width: 100%;
  overflow: hidden;
}
#slider .swiper-container ul.swiper-wrapper {
  width: 500%;
  -webkit-transform: translate(-20%);
  transform: translate(-20%);
}
#slider .swiper-container ul.swiper-wrapper li {
  width: 20%;
  float: left;
}
#slider .swiper-pagination {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 9.33333333rem;
  background: none;
  text-align: center;
}
#slider .swiper-pagination span {
  display: inline-block;
  width: 0.53333333rem;
  height: 0.53333333rem;
  background: grey;
  border-radius: 50%;
  margin: 0 0.26666667rem;
}
#slider .swiper-pagination span.swiper-pagination-bullet-active {
  background: #fd5e5e;
}
