@rem:37.5rem;
.clear::after{
    content:"";
    display: block;
    clear:both;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}

.mui-bar{
    background: #279cfe;
    box-shadow: none;
    -webkit-box-shadow:none;
    border: 0;
    height: 88/@rem;
}
.mui-bar .mui-title{
    
    color: #fff;
}
.mui-bar-nav ~ .mui-content {
    padding-top: 88/@rem;
}
.main{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.main .main_tishi{
    position: absolute;
    top: 0;
    z-index: 9999;
    left: 0;
    width: 100%;
    height: 88/@rem;
    text-align: center;
    font-family: PingFang-SC-Medium;
    font-size: 32/@rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 88/@rem;
    letter-spacing: 0px;
    color: #ffffff;
}
.main_tishi .touming{
    width: 100%;
    height: 88/@rem;
    background: #279cfe;
    opacity: 0.5;
}
.main_tishi .tishi{
    position: absolute;
    width: 100%;
    height: 88/@rem;
    top: 0;
    left: 0;
}
.main .main_banner{
    z-index: 8888;
}
.main .main_banner{
    width: 100%;
    height: 420/@rem;
    overflow: hidden;
}
.main .main_ul{
    width: 100%;
    height: auto;
    
}
.main_ul .order_detail{
    padding: 0 24/@rem;
    background: #FFFFFF;
    
    font-family: PingFang-SC-Bold;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    margin-bottom: 42/@rem;
}
.main_ul .icon{
    margin-top: 42/@rem;
    width: 24/@rem;
    height: 24/@rem;
    margin-right: 6/@rem;
}
.order_detail .order_mname{
    padding: 40/@rem 0;
    line-height: 28/@rem;
    font-size: 28/@rem;
    letter-spacing: 1px;
    color: #1f1f1f;
    margin-right: 10/@rem;
}
.order_detail .order_money{
    font-size: 36/@rem;
    color: #f25c5c;
    line-height: 106/@rem;
}
.order_detail .order_typecar{
    font-size: 30/@rem;
    color: #f5ca1d;
    line-height: 106/@rem;
}
.order_detail .order_nick{
    font-size: 30/@rem;
    letter-spacing: 1px;
    color: #279cfe;
    line-height: 106/@rem;
}
.order_detail .order_mobile{
    font-size: 30/@rem;
    letter-spacing: 1px;
    color: #1f1f1f;
    margin-left: 40/@rem;
    line-height: 106/@rem;
}
.order_detail .order_address{
    width: 530/@rem;
    word-wrap: break-word; 
    word-break: normal;
    padding-top: 36/@rem; 
    font-size: 30/@rem;
    letter-spacing: 1px;
    color: #1f1f1f;
    line-height: 36/@rem;
    padding-bottom: 10/@rem;
}
.order_detail .order_name{
    letter-spacing:10/@rem;
}
.order_detail .order_value{
    line-height: 106/@rem;
}
.main_ul .order_li{
   margin-bottom: 2px;
}
.main_ul .order_bottom{
    margin-bottom: 20/@rem;
}
.main .main_comment{
    width: 100%;
    height: auto;
    padding: 0 24/@rem;
    margin-top: 176/@rem;
    margin-bottom: 60/@rem;
}
.main_comment .comment{
    width: 100%;
    height: 88/@rem;
    text-align: center;
    font-family: PingFang-SC-Medium;
    font-size: 32/@rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 88/@rem;
    letter-spacing: 1px;
    color: #ffffff;
    background: #279CFE;
    border-radius: 6/@rem;
}
