.clear {
  clear: both;
}
.mui-bar {
  background: #279cfe;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  height: 2.34666667rem;
}
.mui-bar .mui-title {
  color: #fff;
}
.mui-bar-nav ~ .mui-content {
  padding-top: 2.34666667rem;
}
.main {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.main .main_top {
  width: 100%;
  height: 14.4rem;
  position: relative;
}
.main_top .main_top_blue {
  background: #279cfe;
  width: 100%;
  height: 8rem;
}
.main_top .main_top_white {
  background: #ffffff;
  width: 100%;
  height: 6.4rem;
}
.main_top .main_top_info {
  background: #fff;
  width: 18.72rem;
  height: 10.66666667rem;
  position: absolute;
  top: 3.68rem;
  left: 50%;
  margin-left: -9.36rem;
  border-radius: 0.16rem;
  border: #f0eff4 1px solid;
  -webkit-box-shadow: 0.05333333rem 0.05333333rem 0rem #f0eff4;
  box-shadow: 0.05333333rem 0.05333333rem 0rem #f0eff4;
}
.main_top_info .info_img {
  background: #9ccef8;
  width: 5.33333333rem;
  height: 5.33333333rem;
  position: absolute;
  top: -2.66666667rem;
  left: 50%;
  margin-left: -2.66666667rem;
  border-radius: 50%;
  border: solid 0.08rem rgba(255, 255, 255, 0.4);
}
.info_img .photo {
  width: 5.25333333rem;
  height: 5.25333333rem;
  border-radius: 50%;
}
.main_top_info .info_phone {
  margin-left: 0.64rem;
  margin-top: 2.24rem;
  width: 17.44rem;
  height: 3.84rem;
  border-bottom: 0.05333333rem solid #f0eff4;
  text-align: center;
}
.info_phone .phone {
  text-align: center;
  line-height: 3.84rem;
  width: 100%;
  font-family: PingFang-SC-Medium;
  font-size: 0.96rem;
}
.main_top_info .info_money {
  float: left;
  width: 50%;
  height: 4.58666667rem;
}
.info_money .money {
  margin-top: 1.17333333rem;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fb4242;
  font-size: 1.06666667rem;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
}
.info_money .img {
  width: 0.85333333rem;
  height: 0.8rem;
  float: left;
  margin-left: 2.66666667rem;
}
.img img {
  margin-top: 0.72rem;
  width: 0.85333333rem;
  height: 0.8rem;
}
.info_money .wallet {
  float: left;
  margin-top: 0.8rem;
  margin-left: 0.4rem;
  line-height: 0.69333333rem;
  font-size: 0.69333333rem;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
}
.main_top_info .shuxian {
  width: 0.05333333rem;
  height: 1.06666667rem;
  background-color: #f0eff4;
  position: absolute;
  top: 7.78666667rem;
  left: 50%;
  margin-left: -0.02666667rem;
}
.main_top_info .info_order {
  float: left;
  width: 50%;
  height: 4.58666667rem;
}
.info_order .number {
  margin-top: 1.17333333rem;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fb4242;
  font-size: 1.06666667rem;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
}
.info_order .img {
  width: 0.85333333rem;
  height: 0.8rem;
  float: left;
  margin-left: 2.66666667rem;
}
.img img {
  margin-top: 0.72rem;
  width: 0.85333333rem;
  height: 0.8rem;
}
.info_order .order {
  float: left;
  margin-top: 0.8rem;
  margin-left: 0.4rem;
  line-height: 0.69333333rem;
  font-size: 0.69333333rem;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
}
.main .main_botton {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 0 0.64rem;
  margin-bottom: 0.8rem;
}
.main_botton .main_botton_li {
  width: 100%;
  height: 2.66666667rem;
  border-bottom: 0.05333333rem solid #f0eff4;
}
.main_botton_li .li_icon {
  float: left;
  width: 1.17333333rem;
  height: 1.17333333rem;
  border-radius: 50%;
  margin-top: 0.8rem;
}
.li_icon img {
  width: 1.17333333rem;
  height: 1.17333333rem;
}
.main_botton_li .li_name {
  float: left;
  line-height: 2.66666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  margin-left: 0.8rem;
  letter-spacing: 0rem;
  color: #1f1f1f;
}
.main_botton_li .li_img {
  float: right;
  width: 0.42666667rem;
  height: 0.8rem;
  margin-top: 1.01333333rem;
}
.li_img img {
  width: 0.42666667rem;
  height: 0.8rem;
}
.main .main_logout {
  width: 100%;
  height: 2.34666667rem;
  background-color: #fff;
  margin-top: 2.66666667rem;
  margin-bottom: 4.53333333rem;
}
.main_logout .logout {
  width: 100%;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.34666667rem;
  letter-spacing: 0rem;
  color: #1f1f1f;
  text-align: center;
}
