header a {
  color: white;
}
.main {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.mui-bar {
  width: 20rem;
  height: 2.34666667rem;
  background-color: #279cfe;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.mui-title {
  color: #ffffff;
  font-size: 0.96rem;
}
.myfriend {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: left;
  padding-left: 0.64rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  margin-top: 1.06666667rem;
  margin-bottom: 0.4rem;
}
.friend {
  width: 20rem;
  height: 3.46666667rem;
  background: white;
}
.friend .friend_head {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  float: left;
  margin-top: 0.93333333rem;
  margin-left: 0.90666667rem;
}
.friend_name {
  width: 12.53333333rem;
  height: 3.46666667rem;
  display: inline-block;
  float: left;
  margin-left: 0.64rem;
}
.friend_name .name {
  width: 4rem;
  height: 0.8rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.74666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0.02666667rem;
  color: #1f1f1f;
  margin-top: 0.8rem;
}
.friend_name .descrie {
  width: 100%;
  height: 1.06666667rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.64rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.06666667rem;
  letter-spacing: 0.02666667rem;
  color: #b3b3b3;
  margin-top: 0.26666667rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.times {
  width: 4rem;
  height: 100%;
  display: inline-block;
  float: right;
  text-align: center;
  line-height: 3.46666667rem;
}
